.footer-logo {

    color: var(--primery-bg-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16px;
    letter-spacing: var(--primery-letter-spacing);
    margin-left: auto;
    display: block;
    margin-bottom: 28px;
    margin-left: 163px;

    @media screen and (min-width: 1200px) {
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2px;
        text-align: center;
        letter-spacing: 0.03em;
    }

   

}