.footer-logo {

    color: var(--primery-bg-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: var(--primery-letter-spacing);
    margin-left: auto;
    display: block;
    margin-bottom: 20px;

}