.header-logo {

    color: var(--header-logo);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: var(--primery-letter-spacing);

    padding-top: 24px;
    margin-right: 93px;
    padding-bottom: 25px;
    margin-left: 0;


}