.button {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;

}

.portfolio-button {
    color: var(--primery-text-color);
    background-color: var(--team-bg-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: var(--primery-letter-spacing);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    transition: color var(--anim-slow), background-color var(--anim-slow), box-shadow var(--anim-slow);

&:hover,
&:focus {
    
    background-color: var(--primery-accent);
    color: var(--primery-bg-color);
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

}

