.subscribe {
    
    width: 100%;

    @media screen and (min-width: 1200px) {
    
            width: auto;
            margin-left: auto;
        }
 

&-title {
    
    text-align: center;
    color: var(--primery-bg-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: var(--primery-letter-spacing);
    text-transform: uppercase;

    margin-bottom: 20px;

    

    @media screen and (min-width: 1200px) {
        text-align: left;

        }
}

}

.subscribe-form {
     
    @media screen and (min-width: 1200px) {
            display: flex;
            gap: 12px;
        }
}

.subscribe-input {

    display: block;

    color: var(--primery-bg-color);
    background-color: var(--secondary-bg-color);

    width: 100%;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    
    padding-left: 16px;

    transition: var(--anim-slow);

    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
    
            max-width: 450px;
            margin: 0 auto 30px;
        }


    @media screen and (min-width: 1200px) {
    
            width: 358px;

            margin: 0;
        }

                




&:focus {

    border-color: var(--primery-accent);

    outline: none;
}

}

