.btn-submit {
    display: block;
    margin: auto;

    color: var(--primery-bg-color);
    background-color: var(--primery-accent);

    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;

    padding-top: 10px;
    padding-right: 52px;
    padding-bottom: 10px;
    padding-left: 52px;


    transition: color var(--anim-slow), background-color var(--anim-slow), box-shadow var(--anim-slow);

}


.btn-submit:hover,
.btn-submit:focus {


    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}