 .body {

     font-family: 'Roboto', sans-serif;

     color: var(--primery-text-color);

 }

 .span {

     color: var(--primery-accent);

 }

 .link {

     text-decoration: none;

     margin-left: 50px;
 }