 .body {


     font-family: 'Roboto', sans-serif;

     color: var(--primery-text-color);

 }

 .no-scroll {
    overflow: hidden;
 }

 .span {

     color: var(--primery-accent);

 }

 .link {

     text-decoration: none;

 }