.connect {
    
    display: flex;
    align-items: center;

    transition: color var(--anim-slow);
}





.contacts-list {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: var(--secondary-letter-spacing);

    margin-left: auto;
    display: flex;
        flex-direction: column;
        gap: 10px;

   


   

    color: var(--secondary-text-color);

 

                        @media screen and (max-width: 767px) {
                            display: none;
                        }

                                                @media screen and (min-width: 1200px) {
                                                    
                                                    flex-direction: row;
                                                    gap: 40px;
                    
                                                }





}

.contacts-icon {

    fill: currentColor;

    margin-right: 10px;

}

.contacts-list .connect {

    color: var(--secondary-text-color);

}

.connect:hover,
.connect:focus {
    
    color: var(--primery-accent);
}




