.connect {
    
    display: flex;
    align-items: center;

    transition: color var(--anim-slow);




}

.contacts-list {

    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: var(--secondary-letter-spacing);

    margin-left: auto;
    gap: 50px;

   

    color: var(--secondary-text-color);

 

                        @media screen and (max-width: 768px) {
                            display: none;
                        }

                                                @media screen and (min-width: 1200px) {
                                                    display: flex;
                                                    justify-content: end;
                                                }





}

.contacts-icon {

    fill: currentColor;

    margin-right: 10px;

}

.contacts-list .connect {

    color: var(--secondary-text-color);

}

.connect:hover,
.connect:focus {
    
    color: var(--primery-accent);
}




