.connect {
    
    display: flex;
    align-items: center;

    transition: color var(--anim-slow);

}

.contacts-list {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: var(--secondary-letter-spacing);

    display: flex;
    margin-left: auto;
    gap: 50px;

    color: var(--secondary-text-color);

}

.contacts-icon {

    fill: currentColor;

    margin-right: 10px;

}

.contacts-list .connect {

    color: var(--secondary-text-color);

}

.connect:hover,
.connect:focus {
    
    color: var(--primery-accent);
}




