.hero {

    max-width: 1600px;
    height: 600px;

    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bcg-img.jpg);

    background-position: center;
    background-size: cover;

    padding-top: 200px;
    padding-bottom: 210px;
    margin: 0 auto;

&-title {
    
    color: var(--primery-bg-color);
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    letter-spacing: 0.06em;
    
    text-align: center;
    text-transform: uppercase;
    
    margin-bottom: 40px;
}

}

