.hero {
    
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;

    background-color: #C4C4C4;
    background-position: center;
    background-size: cover;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bcg/header-bcg-sm.jpg);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)),
                        url(../images/hero-bcg/header-bcg-sm@2x.jpg);
            }

    
        @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero-bcg/header-bcg-md.jpg);

                @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)),
                            url(../images/hero-bcg/header-bcg-md@2x.jpg);
                    }
        }
    
        @media screen and (min-width: 1200px) {

            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/hero-bcg/header-bcg-lg.jpg);

                    @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                                    rgba(47, 48, 58, 0.4)),
                                url(../images/hero-bcg/header-bcg-lg@2x.jpg);
                        }
         

            padding-top: 200px;
            padding-bottom: 210px;
        }

&-title {
    
    color: var(--primery-bg-color);
    
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    
    text-align: center;
    text-transform: uppercase;
    
    margin-bottom: 40px;

    @media screen and (min-width: 1200px) {
        
    font-size: 44px;
    line-height: 1.35;
    }

}

}

