.work {

    padding-bottom: 94px;

&__title {
    
    font-size: 36px;
    font-weight: 700;
    letter-spacing: var(--primery-letter-spacing);
    line-height: 1.15;
    margin-bottom: 50px;
    text-align: center;
}

&__item {

    display: flex;
    gap: 30px;

    position: relative;
}

&__text {

    position: absolute;
    bottom: 0;

    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(47, 48, 58, 0.8);
    color: var(--primery-bg-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: var(--primery-letter-spacing);
    text-transform: uppercase;
}

}






